:root {
    --c-main-text: #2d2d2d;
    --c-light-headers: #757575;
    --c-color-text: #a445ed;
    --c-form-backg: #f4f4f4;
    --c-backg: #ffffff;
    --c-tools: #757575;

    --ff-s-s: 'Inter', sans-serif;
    --ff-s: 'Lora', serif;
    --ff-m: 'Inconsolata', monospace;

    --fs-h-l: 64px;
    --lh-h-l: 77px;

    --fs-h-m: 24px;
    --lh-h-m: 29px;

    --fs-h-s: 20px;
    --lh-h-s: 24px;

    --fs-b-m: 18px;
    --lh-h-m: 24px;

    --fs-b-s: 14px;
    --lh-h-s: 17px;

    --fw-regular: 400;
    --fw-bold: 700;
}

html {
    color: var(--c-main-text);
    font-family: var(--ff-s-s)
}

body {
    margin: 0;
    padding: 5% 8% 10% 8%;
}

/*-----------------------HEADER-----------------------*/

header {
    display: inline-block;
    position: relative;
    height: 45px;
    width: 100%;
}

/*-----------------------font switcher*/
.header-logo {
    position: absolute;
    left: 0;
    width: 20%;
}

.header-tools {
    display: flex;
    position: absolute;
    right: 0;
    width: 70%;
    /* tady nejde zarovnavat na stred vertikalne*/
}

/*-----------------------font switcher*/
.font-switcher {
    border-right: 2px solid var(--c-form-backg);
    width: 55%;
}

/*-----------------------dark mode*/
.dark-mode {
    text-align: right;
    width: 45%;
}

#dark-mode-slider {
    background-color: var(--c-tools);
    border-radius: 1rem;
    display: inline-block;
    position: relative;
    height: 20px;
    width: 40px;
}

#dark-mode-slider-dot{
    background-color: var(--c-backg);
    border-radius: 1rem;
    height: 14px;
    left: 10%;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    width: 14px;
}


/*-------------------SEARCH FORM--------------------*/

#search {
    background-color: var(--c-form-backg);
    border-radius: 1rem;
    height: 48px;
    margin: 20px 0;
    position: relative;
}

#search input {
    background: none;
    border: none;
    height: 100%;
    margin-left: 20px;
    width: 80%
}

.search-input::placeholder {
    color: var(--c-main-text);
    opacity: 0.25;
    font-family: var(--ff-s-s);
    font-size: var(--fs-b-m);
    font-weight: var(--fw-bold);
    vertical-align: middle;
}

.search-input:focus {
    color: var(--c-main-text);
    font-family: var(--ff-s-s);
    font-size: var(--fs-b-m);
    font-weight: var(--fw-bold);
    outline: none;
}

.search-input:not(:focus) {
    color: var(--c-main-text);
    font-family: var(--ff-s-s);
    font-size: var(--fs-b-m);
    font-weight: var(--fw-bold);
    outline: none;
}

#search img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%) scale(1.15);
}

/*------------------------SEARCHED WORD------------------------*/
.overview {
    margin: 50px 0;
    position: relative;
    width: 100%;
}

.overview-content {
    width: 80%;
}

.overview-content-main {
    display: block;
    font-family: var(--ff-s-s);
    font-size: calc(var(--fs-h-l)/2);
    font-weight: var(--fw-bold);
    margin: 0;
}

.overview-content-pronunciation {
    color: var(--c-color-text);
    display: block;
    font-size: var(--fs-b-m);
    font-weight: var(--fw-regular);
    margin: 15px 0 0 0;
       
}

.overview-button {
    width: 48px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

/*------------------------PAGE BREAK------------------------*/

.pagebreak-word {
    margin: 25px 0;
    position: relative;
    width: 100%;
}

.pagebreak-word > * {
    display: inline-block;
}

.pagebreak-word i {
    font-family: var(--ff-s-s);
    font-size: var(--fs-h-s);
    font-weight: var(--fw-bold);
}

.pagebreak-word hr {
    color: var(--c-form-backg);
    margin: 0;
    opacity: 0.25;
    position: absolute;
    right: 0;
    top: 50%;
    width: 80%;
}

/*------------------------NOUN------------------------*/
.explenation-header {
    color: var(--c-light-headers);
    font-size: calc(var(--fs-h-s)-4);
    font-weight: 400;
    margin: 0;
}

.explenation-list {
    color: var(--c-main-text);
    font-size: calc(var(--fs-b-m)-3);
    line-height: var(--lh-h-m);
    padding-left: 0;
    list-style-type: none;
}

.explenation-list li {
    color: var(--c-main-text);
    padding-left: 25px;
    position: relative;
  }
  
  .explenation-list li:before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    left: 0;
    top: calc(var(--lh-h-m)/2);
    transform: translate(0, -50%);
  }



.explenation-header:nth-of-type(2) {
    display: inline-block;
}

.explenation-synonyms {
    color: var(--c-color-text);
    display: inline-block;
    font-size: calc(var(--fs-h-s)-4);
    font-weight: 700;
    margin: 0 0 0 20px;
}

/*------------------------VERB------------------------*/
.explenation-quotation {
    color: var(--c-light-headers);
    font-size: calc(var(--fs-b-m)-3);
    margin-left: 25px;
}

/*-----------------------SOURCE-----------------------*/
.source-break{
    margin: 50px 0 40px 0;
    opacity: 0.25;
}

.source-header{
    color: var(--c-light-headers);
    margin: 0;
}

.source-link{
    color: var(--c-light-headers);
    font-family: var(--ff-s-s);
    font-size: var(--fs-b-s);
}




/*----------------------RESPONSIVE---------------------*/
/*----------------------RESPONSIVE---------------------*/
/*----------------------RESPONSIVE---------------------*/

@media (min-width: 768px) {
    body {
        padding: 8% 5% 15% 5%;
    }

    /*-------------------SEARCHED WORD*/
    #search {
        height: 64px;
    }
    
    .search-input::placeholder {
        font-size: var(--fs-h-s);
    }
    
    .search-input:focus {
        font-size: var(--fs-h-s);
    }
    
    .search-input:not(:focus) {
        font-size: var(--fs-h-s);
    }

    #search img {
        transform: translate(0, -50%) scale(1.3);
        right: 25px;
    }

    /*-------------------MAIN WORD*/
    .overview-content-main {
        font-size: var(--fs-h-l);
    }

    .overview-content-pronunciation {
        font-size: var(--fs-h-m);     
    }

    .overview-button {
        width: 75px;
    }

    /*-------------------PAGE BREAK*/

    .pagebreak-word i {
        font-size: var(--fs-h-m);
    }

    .pagebreak-word hr {
        width: 90%;
    }

    /*-------------------MAIN WORD*/
    .explenation-header {
        font-size: var(--fs-h-s);
    }

    .explenation-list {
        font-size: var(--fs-b-m);
    }

    .explenation-quotation {
        font-size: var(--fs-b-m);
    }
}

@media (min-width: 992px) {
}